.e2_body  {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
a {
  text-decoration: none;
  margin-bottom: 50px;
}
.e2_title {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    text-align:center;
    font-family:"no-roboto", sans-serif;    
    font-size: 2em;
}
.e2_title:hover{
    cursor:pointer;
}
.e2_dashboard  {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top: 50px;
}
.e2_column_1  {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e2_div_graphs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:450px;
    width: 100%;
}
.e2_graphs{
    width: 90%;
}
.e2_column_2  {
    width: 65%;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    margin: 0;
}
.e2_graph_3  {
    width: 650px;
    height: 435px;
    margin: 0;
    box-shadow: 4px 4px 15px 0 black
}
.e2_stats_div {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:80px;
    margin-bottom: 35px;
}
.e2_stats {
    background-color: white;
    text-align:center;
    font-size:1.1em;
    width: 450px;
    height: 45px;
    font-family:"no-roboto", sans-serif;
    font-weight: 300px;
    box-shadow:4px 4px 15px 0 black;
    margin: 0 20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding: 0
}
