.e2_body  {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.e2_title  {
    color: white;
    margin-bottom: 50px;
    text-align:center;
    font-family:"no-roboto", sans-serif;    
}
.e2_dashboard  {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.e2_column_1  {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e2_div_graphs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:450px;
    width: 100%;
}
.e2_graphs{
    width: 100%;
}
.e2_column_2  {
    width: 50%;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    margin: 0;
}
.e2_dropdown  {
    width: 200px;
    margin-bottom: 25px
}
.e2_graph_3  {
    width: 550px;
    height: 450px;
    margin: 0;
    box-shadow: 4px 4px 15px 0 black
}
.e2_stats_div {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:80px;
}
.e2_p_values_title{
    color: white;
    text-align:center;
    font-family:"no-roboto", sans-serif;    
}
.e2_stats {
    background-color: white;
    text-align:center;
    font-size:1.25em;
    width: 180px;
    height: 45x;
    font-family:"no-roboto", sans-serif;
    box-shadow:4px 4px 15px 0 black;
    margin:15px 10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:0 40px
}
.e2_corr {
    background-color: white;
    text-align: center;
    font-size: 1.25em;
    font-family:"no-roboto", sans-serif;
    height: 45px;
    width: 300px;
    box-shadow: 4px 4px 15px 0 black;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 125px
}